@import url("https://fonts.googleapis.com/css2?family=Acme&family=Bebas+Neue&family=Covered+By+Your+Grace&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Amatic+SC:wght@400;700&family=Cinzel:wght@500&family=Instrument+Serif:ital@0;1&family=Quicksand:wght@300..700&family=Satisfy&display=swap");

body {
  font-family: "Alegreya Sans SC", sans-serif;
  background: linear-gradient(120deg, rgb(82, 92, 81), rgb(26, 36, 27));
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
}

h1 {
  color: #333;
  font-family: "Amatic SC", sans-serif;
  font-size: 40px;
}

form {
  display: flex;
  flex-direction: column;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 20px;
  color: #555;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: rgb(65, 82, 74);
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(65, 82, 74);
}

.recordar,
.registro {
  font-size: 20px;
  color: #000000;
  cursor: pointer;
}

.registro {
  text-align: center;
  margin-top: 20px;
}

.registro a {
  color: rgb(65, 82, 74);
  text-decoration: none;
  font-weight: bold;
}

.registro a:hover,
.recordar:hover {
  text-decoration: underline;
}
