@import url("https://fonts.googleapis.com/css2?family=Acme&family=Bebas+Neue&family=Covered+By+Your+Grace&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Amatic+SC:wght@400;700&family=Cinzel:wght@500&family=Instrument+Serif:ital@0;1&family=Quicksand:wght@300..700&display=swap");

:root {
  --background: rgb(65, 82, 74);
  --secondary: rgb(0, 0, 0);
  --tex: rgb(255, 255, 255);
  font-family: "Alegreya Sans SC", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  height: 80px;
  background-color: rgb(65, 82, 74);
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-izq ul,
.nav-derecho ul,
.nav-central ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.nav-izq li,
.nav-derecho li,
.nav-central li {
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-izq ul li:hover {
  border-bottom: 1px solid white;
}

.nav-central {
  font-family: "Amatic SC", sans-serif;
  font-weight: 900;
  font-style: normal;
  margin-right: 60px;
  font-weight: bold; /* Hace las letras más gruesas */
  font-size: 25px; /* Tamaño de letra más grande */
}

.nav-izq a,
.nav-derecho a {
  color: white; /* Color blanco para las letras */
  font-size: 16px; /* Tamaño de letra más grande */
  text-decoration: none;
}

.nav-central a {
  font-weight: bold; /* Hace las letras más gruesas */
  font-size: 18px; /* Tamaño de letra más grande */
}
.hero-section {
  height: 100vh;
  background-color: black;
  background-image: url(recursos/imagen.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
